<header>
  <a routerLink="/">{{ 'APP.NAME' | translate }}</a>

  <nav>
    <a routerLink="/">{{ 'NAV.HOME' | translate }}</a>

    @if (isLoggedIn()) {
      <a routerLink="/profile">{{ 'NAV.PROFILE' | translate }}</a>
    }

    @if (isAdmin()) {
      <a routerLink="/admin">{{ 'ADMIN.NAV' | translate }}</a>
    }
    @if (!isLoggedIn()) {
      <a routerLink="/login">Connexion</a>
      <a routerLink="/register">Inscription</a>
    }
  </nav>
  <app-language-switcher />
</header>

<main>
  <router-outlet />
</main>
<app-toast />
